@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
h1 {
	text-align: center;
	font-family: 'Indie Flower', Arial;
}
a:visited {
	color:black;
}
a:hover {
	font-weight:bold;
}
a:active {
	text-decoration:none;
}
h3 {
	text-align: center;
}